<section class="relative h-svh bg-cover bg-center bg-no-repeat text-white" style="background-image: url('/assets/img/about-bg.webp');">

  <!-- Red Gradient Overlay -->
  <div class="about-hero-overlay absolute inset-0"></div>

  <!-- Content -->
  <div (animateOnScroll)="onAnimate()"
  [@scrollFadeUp]="animationState"
    class="font-poppins relative z-10 mx-auto flex h-full flex-col items-center justify-center gap-5 px-6 lg:max-w-[820px]">

    <!-- Title -->
    <h1 class="  text-center font-semibold
             text-[clamp(40px,4vw,72px)] leading-[1.1]">
      {{ 'WHO_WE_ARE' | translate }}
    </h1>

    <!-- Subtitle -->
    <h3 class="  text-center font-medium
             text-[clamp(18px,1.5vw,28px)] leading-[1.5]">
      {{ 'WHO_WE_ARE_DESC' | translate }}
    </h3>

  </div>
</section>