<section class="relative h-svh bg-cover bg-center bg-no-repeat text-white"
  style="background-image: url('/assets/img/about-bg.webp');">

  <!-- Red Gradient Overlay -->
  <div class="about-hero-overlay absolute inset-0"></div>

  <!-- Content -->
  <div
    class="font-poppins relative z-10 mx-auto flex h-full flex-col items-center justify-center gap-5 px-6 lg:max-w-[820px]">

    <!-- Title -->
    <h1 class="  text-center font-semibold
             text-[clamp(40px,4vw,72px)] leading-[1.1]">
      Vlogs </h1>

    <!-- Subtitle -->
    <h3 class="  text-center font-medium text-[clamp(18px,1.5vw,28px)] leading-[1.5]">
      Explore stories, experiences, and moments we capture on video. Each vlog brings you closer to our journey and the
      ideas we love to share.

    </h3>

  </div>
</section>