<form class="ant-form ant-form-horizontal ant-form-hide-required-mark css-wy1lc1">
      <div>
            <div class="flex flex-col items-center justify-center gap-8"><img alt="Personal Document Verification"
                        width="592" height="380" class="w-full" src="/assets/personal-document-DfkI1xaJ.png">
                  <div class="space-y-2 text-center">
                        <h2
                              class="font-inter text-[clamp(1.25rem,1.1429rem+0.5357vw,1.625rem)] leading-[1.2] font-semibold text-black">
                              You're almost done! Just verify your identity</h2>
                        <p
                              class="text-foundation-gray-normal font-inter text-[clamp(0.875rem,0.5vw+0.75rem,1rem)] leading-[1.2] font-normal">
                              In this step, you will take a photo of the front &amp; back of your ID. That’s it!</p>
                  </div>
                  <div class="mb-8"><span class="ant-upload-wrapper flex flex-col items-center gap-2.5 css-wy1lc1">
                              <div class="ant-upload ant-upload-select"><span class="ant-upload"><input accept="image/*"
                                                multiple="" type="file" name="file" style="display: none;"><button
                                                class="w-[270px] lg:w-[390px] h-[53px] lg:h-[62px] h-[45px] duration-100 ease-linear transition-all flex items-center justify-center  shadow-sm shadow-foundation-orange-dark/50  bg-foundation-orange-normal text-neutral-0  hover:bg-foundation-orange-normal-hover-2 border border-transparent hover:border-foundation-orange-normal disabled:text-neutral-0 disabled:bg-foundation-orange-dark disabled:border-transparent font-poppins rounded-[10px] py-1 text-[clamp(1rem,0.8571rem+0.7143vw,1.5rem)] leading-normal font-medium"
                                                type="button">Upload Your National ID</button></span></div>
                              <div class="ant-upload-list ant-upload-list-text"></div>
                        </span></div>
            </div>
      </div>
     
</form>