<main class="bg-neutral-25 min-h-svh w-full items-center lg:grid lg:grid-cols-10 lg:gap-[20px]">
      <div
            class="mx-5 flex flex-col  gap-9 lg:col-span-4 lg:col-start-2 lg:mx-0 lg:max-w-[450px] xl:col-span-5 xl:col-start-2 xl:max-w-[564px]">
            <div><a href="/" data-discover="true"><img alt="" height="59" width="113" class="w-[140px]"
                              src="/assets/icons/logo.svg"></a>
                  <div class="md:min-h-[124.73px]">
                        <h1
                              class="font-poppins text-foundation-brown-normal text-[36px] leading-[54px] lg:text-[42px] lg:leading-[63px] font-medium">
                              {{ 'FORGOT_PASSWORD_TITLE' | translate }}</h1>
                        <h3
                              class="font-poppins text-foundation-gray-normal font-medium text-xl leading-[36px] lg:text-2xl">
                              {{ 'ENTER_PHONE_VERIFICATION' | translate }}</h3>
                  </div>
            </div>
            <form class="ant-form ant-form-horizontal ant-form-hide-required-mark css-wy1lc1">
                  <div class="ant-form-item !mb-9 css-wy1lc1 ant-form-item-horizontal">
                        <div class="ant-row ant-form-item-row css-wy1lc1">
                              <div class="ant-col ant-col-24 ant-form-item-label css-wy1lc1"><label
                                          for="userPhoneNumber"
                                          class="ant-form-item-required ant-form-item-required-mark-hidden ant-form-item-no-colon"
                                          title=""><span
                                                class="font-inter text-foundation-brown-normal mb-[13px] text-[24.6px] leading-[30px] font-medium">Phone
                                                Number</span></label></div>
                              <div class="ant-col ant-form-item-control css-wy1lc1">
                                    <div class="ant-form-item-control-input">
                                          <div class="ant-form-item-control-input-content"><input
                                                      placeholder="Enter your Phone Number" id="userPhoneNumber"
                                                      aria-required="true"
                                                      class="ant-input css-wy1lc1 ant-input-outlined placeholder:!text-[20px] placeholder:!leading-[24px]"
                                                      type="text" value=""
                                                      style="color: var(--color-foundation-brown-normal); min-height: 77.33px; border-radius: 8px; border-width: 1.76px; padding: 16px; font-size: 20px; line-height: 24px; font-weight: 500;">
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div><button type="submit"
                        class="ant-btn css-wy1lc1 ant-btn-primary ant-btn-color-primary ant-btn-variant-solid mt-0 min-h-[56px] w-full cursor-pointer text-2xl leading-[56px] font-medium capitalize"><span>Send</span></button>
            </form>
      </div>
      <div class="hidden lg:col-span-full lg:col-start-6 lg:flex lg:justify-end xl:col-start-7">
            <div class="flex items-center justify-center"><img alt="red car background" class="auth-background-image "
                        src="/assets/img/register.webp"></div>
      </div>
</main>