<section class=" relative text-foundation-gray-lighter py-10 px-4 md:px-6 lg:px-0 max-w-[1200px] mx-auto"
  (animateOnScroll)="onAnimate()" [@scrollFadeUp]="animationState">
  <div class="flex flex-col items-center max-w-[1120px] mx-auto">

    <!-- Title & Description -->
    <div class="text-center max-w-[858px] mx-auto">
      <h2 class="text-foundation-brown-darker text-2xl sm:text-3xl md:text-4xl font-bold leading-snug">
        {{ 'WHICH_DRIFTER' | translate }}
      </h2>
      <p class="mt-4 text-base sm:text-lg md:text-xl text-foundation-gray-normal-hover leading-relaxed">
        {{ 'WHICH_DRIFTER_DESC' | translate }}
      </p>
    </div>

    <!-- Cards Grid -->
    <div class="mt-9 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 md:gap-8 items-stretch">
      <app-which-drifter-card *ngFor="let card of whichDrifterCards" [cardData]="card"
        (cardClicked)="onCardClick($event)" (buttonClicked)="onCardButtonClick($event)"
        class="flex"></app-which-drifter-card>
    </div>

  </div>
</section>