/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@import "aos/dist/aos.css";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Smooth scrolling behavior for the entire page */
html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

html[lang="ar"] {
  font-family: 'Alexandria', sans-serif;
}

// --------------------------------------


/* Smooth scrolling for specific elements */
.smooth-scroll {
  scroll-behavior: smooth;
}

/* Hide scrollbar for webkit browsers while maintaining functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}


.about-hero-overlay {
  background: linear-gradient(to bottom,
      rgba(164, 0, 0, 0.4),
      rgba(164, 0, 0, 0.65));
}

* {
  transition: all 0.3s ease-in-out !important;
  line-height: 1.5;
}

:root {
  --color-foundation-orange-normal: #e73201;
  --icon-bg: #e732012e
}

[type=text],
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
  background-color: transparent;
}

.ant-btn-variant-solid {
  color: #fff;
  background: #e73201;
}

.text-foundation-orange-normal {
  color: var(--color-foundation-orange-normal);
}

.ant-btn-variant-solid {
  color: #fff;
  background: #e73201;
}

.icon-bg {
  background-color: var(--icon-bg);

}

.border-foundation-orange-normal {
  border-color: #e73201;
  
}

.bg-foundation-orange-normal {
  background-color: var(--color-foundation-orange-normal);
}

.foundation-orange-normal {
  color: #e73201;
}

.water-effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);

  /* تأثير الزجاج */
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}