@keyframes waterWave {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.animate-water {
  background-size: 200% 200%;
  animation: waterWave 6s linear infinite;
  opacity: 0.3; /* شفافية وتأثير المياه */
}
